
.box{
  width: 90rem;
  height: 50rem;
  background-color: darkviolet;
  margin-left: 12%;
  color: white;
}



.small-box{
  width: 20rem;
  height: 20rem;
  background-color:aqua;
  margin-left: 3rem;
}

.big-box{
  width: 20rem;
  height: 20rem;
  background-color:crimson;
  margin-left: 3rem;

}